#include <winver.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     FREEJOYX_APP_VER_MAJOR, FREEJOYX_APP_VER_MINOR, FREEJOYX_APP_VER_PATCH, 0
PRODUCTVERSION  FREEJOYX_APP_VER_MAJOR, FREEJOYX_APP_VER_MINOR, FREEJOYX_APP_VER_PATCH, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"
        BEGIN
            VALUE "FileVersion",      FREEJOYX_APP_VERSION
            VALUE "ProductVersion",   FREEJOYX_APP_VERSION
            VALUE "FileDescription",  "FreeJoyX Configurator"
            VALUE "ProductName",      "FreeJoyX Configurator"
            VALUE "InternalName",     "FreeJoyX Configurator"
            VALUE "OriginalFilename", "FreeJoyXConfiguratorQt.exe"
            VALUE "CompanyName",      "FreeJoyX Project"
            VALUE "LegalCopyright",   "Copyright © FreeJoyX Project contributors"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 0x04B0
    END
END

IDI_DB4S ICON "Images\\icon.ico"
